<template>
  <b-field grouped group-multiline>
    <component
      v-for="skill in skills"
      :key="skill.name"
      :skill="skill"
      :is="attachedTag(skill.attached)"
    />
  </b-field>
</template>

<script>
import ProjectsSkillsTagSingle from "./ProjectsSkillTagSingle";
import ProjectsSkillTagAttached from "./ProjectsSkillTagAttached";

export default {
  props: {
    skills: Array
  },
  components: {
    "p-skills-single": ProjectsSkillsTagSingle,
    "p-skills-attached": ProjectsSkillTagAttached
  },
  methods: {
    attachedTag(isAttached) {
      if (isAttached) {
        return "p-skills-attached";
      }

      return "p-skills-single";
    }
  }
};
</script>
