<template>
  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">{{ project.name }}</p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          {{ project.description || '' }}
          <br>
          <ProjectsSkillTag :skills="project.skills"/>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item"><b-icon icon="star"></b-icon>I'm interested</a>
        <a href="#" class="card-footer-item"><b-icon icon="calendar-edit"></b-icon> Custom apply form</a>
        <a href="#" class="card-footer-item"><b-icon icon="timer"></b-icon> Next time</a>
      </footer>
    </div>
  </div>
</template>

<script>
import ProjectsSkillTag from "./ProjectsSkillTag";

export default {
  components: { ProjectsSkillTag },
  props: {
    project: Object
  }
};
</script>
