<template>
  <div>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> {{ title }}</h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="columns">
        <ProjectsListItem v-for="project in projects" :key="project.id" :project="project"/>
      </div>
    </div>
  </div>
</template>

<script>
import ProjectsListItem from "./ProjectsListItem";

export default {
    props: {
        title: String,
        projects: Array
    },
  components: { ProjectsListItem }
};
</script>
