<template>
  <div class="control">
    <b-taglist v-if="skill.attached" attached>
      <b-tag type="is-dark">{{ skill.name }}</b-tag>
      <b-tag type="is-primary">{{ skill.value }}</b-tag>
    </b-taglist>
  </div>
</template>

<script>
export default {
  props: {
    skill: Object
  }
};
</script>
