<template>
  <nav class="navbar is-dark is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="../../../assets/logo-belatrix.png" width="112" height="28">
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div v-if="isLoggedIn" class="navbar-start">
        <nav-bar-item v-for="item in items" :key="item.id" :text="item.text" :linkTo="item.to"/>
      </div>

      <div v-if="!isLoggedIn" class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <router-link to="/signup" class="button is-primary">
              <strong>Sign up</strong>
            </router-link>
            <router-link to="/login" class="button is-light">Log in</router-link>
          </div>
        </div>
      </div>
      <div v-else class="navbar-end">
        <div class="navbar-item">
          <figure class="image is-48x48">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <b-button @click="logout" class="button is-light">Logout</b-button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import NavBarItem from "./NavBarItem.vue";

export default {
  components: { NavBarItem },
  data() {
    return {
      items: [
        { id: 1, text: "Home", to: "/" },
        { id: 2, text: "Projects", to: "/projects" }
      ]
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    logout(event) {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    }
  }
};
</script>

<style>
.navbar-item img {
  max-height: 64px !important;
}
</style>

