<template>
  <ProjectsList title="Favorite Projects" :projects="this.projects"/>
</template>

<script>
import ProjectsList from "../components/projects/ProjectsList";
import { mapState } from 'vuex';

export default {
  components: { ProjectsList },
  computed: {
    ...mapState({
      projects : state => state.projects.projects
    })
  }
};
</script>

<style>
#app {
  margin-top: 50px !important;
}
</style>
