<template>

<div class="container">
    <section>
        <b-field label="Email">
            <b-input type="email"
                v-model="email"
                maxlength="30">
            </b-input>
        </b-field>

        <b-field label="Password">
            <b-input type="password"
                v-model="password"
                password-reveal>
            </b-input>
        </b-field>

        <b-button @click="login" type="is-primary">Login</b-button>
    </section>
</div>
</template>

<script>

export default {
    data () {
        return {
            email: 'test@',
            password: '12312'
        }
    },
    methods: {
        login (event) {
            this.$store.dispatch('login', { email: this.email, password: this.password })
            .then(() => {
                this.$router.push(this.$router.currentRoute.query.redirect || '/')
            })
        }
    }

}
</script>
